<div flex-gt-sm="100" flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>{{vm.SCREENCONFIG.LIST.TITLE}}</span>
        </div>
    </md-toolbar>
    <md-content style="padding-bottom: 60px">
        <md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('{{$index}}'); vm.getEquipmentsFromSink($index)" name="{{$index}}" style="background-color: {{vm.listItems[$index].connected?'rgba(0, 230, 184, 0.2)':'rgba(255, 77, 77, 0.2)'}}" ng-repeat="item in vm.sinkList track by $index">{{item.data.id}}</md-nav-item>
        </md-nav-bar>
        <div ng-if="vm.currentNavItem>-1">
            <section layout="column" layout-gt-md="row" flex>
                <md-card>
                  <span layout="row">
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class="md-avatar-icon" md-svg-icon="assets/icons/action/ic_info_outline_24px.svg"></md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            {{item.data}}
                            <span class="md-title">{{vm.sinkList[vm.currentNavItem].data.id}}</span>
                            <span class="md-subtitle">{{vm.sinkList[vm.currentNavItem].objid}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <span flex></span>
                    <span layout="row" layout-margin layout-align="center center">
                        <md-switch class="md-secondary" ng-disabled="!vm.sinkList[vm.currentNavItem].connected" ng-model="vm.sinkList[vm.currentNavItem].connected" ng-change="vm.toggleState(vm.sinkList[vm.currentNavItem].id, vm.sinkList[vm.currentNavItem].objid)"></md-switch>
                        <span style="background-color: {{(vm.listItems[vm.currentNavItem].connected)?'rgba(0, 204, 102,0.5)':'rgba(230, 46, 0,0.5)'}}">
                            <md-icon class="md-avatar-icon" md-svg-icon="{{vm.SCREENCONFIG.ICONS.ON}}" ng-if="vm.sinkList[vm.currentNavItem].connected" aria-label="on"></md-icon>
                            <md-icon class="md-avatar-icon" md-svg-icon="{{vm.SCREENCONFIG.ICONS.OFF}}" ng-if="!vm.sinkList[vm.currentNavItem].connected" aria-label="off"></md-icon>
                            <span class="md-padding">{{(vm.sinkList[vm.currentNavItem].connected)?'Sink Online':'Sink Offline'}}</span>
                        </span>
                    </span>
                  </span>
                    <md-card-content>
                        <md-progress-linear ng-if="vm.working()" md-mode="indeterminate"></md-progress-linear>
                        <md-content layout="row" ng-if="vm.sinkList[vm.currentNavItem].type === 'esp8266' && vm.sinkList[vm.currentNavItem].connected == false">
                            <div layout="column" layout-gt-xs="row" layout-fill flex>
                                <md-input-container ng-if="!vm.working() && !vm.sinkList[vm.currentNavItem].connected" flex>
                                    <label>Host IP</label>
                                    <input name="hostip" required ng-model="vm.hostip" placeholder="IP" ng-pattern="/^(?!0)(?!.*\.$)((1?\d?\d|25[0-5]|2[0-4]\d)(\.|$)){4}$/" md-maxlength="15">
                                    <div ng-messages="vm.hostip.$error" role="alert" multiple>
                                        <div ng-message="pattern" class="my-message">Esse nº de IP não parece válido!</div>
                                        <div ng-message="md-maxlength" class="my-message">Esse valor é muito grande.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container ng-if="!vm.working() && !vm.sinkList[vm.currentNavItem].connected" flex >
                                    <label>Host Port</label>
                                    <input name="hostport" required ng-model="vm.hostport"  placeholder="Porta" ng-pattern="/^(?!0)(?!.*\.$)(([0-9]{4})(\.|$))$/" md-maxlength="4">
                                    <div ng-messages="vm.hostport.$error" role="alert" multiple>
                                        <div ng-message="pattern" class="my-message">Esse nº de Porta não parece válido!</div>
                                        <div ng-message="md-maxlength" class="my-message">Esse valor é muito grande.</div>
                                    </div>
                                </md-input-container>
                                <div ng-if="vm.working()" layout-fill layout-align="center stretch"><h4 layout-padding>{{vm.sinkMessage}}</h4></div>
                            </div>
                            <md-button class="md-fab" ng-click="vm.btnStartClick($event, vm.currentNavItem)" layout-padding aria-label="Start Sink" ng-disabled="vm.working()" id="btnStart">
                                <md-icon md-svg-icon="{{vm.ICONS.PLAY}}"  aria-label="play"></md-icon>
                            </md-button>
                        </md-content>
                        <md-content layout="column" layout-gt-xs="row" layout-padding flex>
                          <div ng-animate="'animate'" class="md-dense" flex="50" ng-cloak>
                              <md-subheader class="md-no-sticky">{{vm.SCREENCONFIG.LIST.SENSORS.TITLE}}</md-subheader>
                              <md-list-item style="background-color: {{sensor.data.connected?'rgba(0, 230, 184, 0.2)':'rgba(255, 77, 77, 0.2)'}}" ng-click="vm.navigateTo('sensors', sensor.data.connectedSink.id, sensor.data.$id, $event)"  ng-repeat="sensor in vm.sensorListItems">
                                  <md-icon md-svg-icon="{{sensor.data.icon}}"></md-icon>
                                  <h4> {{ sensor.data.name }} </h4>
                                  <span flex></span>
                                  <md-icon ng-if="sensor.data.readings.value=='!'"
                                           style="color:#FA8072;"
                                           aria-label="announcement"
                                           md-svg-icon="{{vm.SCREENCONFIG.ICONS.WARNING}}"></md-icon>
                                  <h4> {{ sensor.data.configurations.pin }} </h4>
                                  <span flex="5"></span>
                                  <h4 ng-if="sensor.data.readings.value!='!'"> {{ sensor.data.readings.value }} {{ sensor.data.readings.unit }} </h4>
                              </md-list-item>
                              <md-divider></md-divider>
                          </div>
                          <div ng-animate="'animate'" class="md-dense" flex="50" ng-cloak>
                              <md-subheader class="md-no-sticky">{{vm.SCREENCONFIG.LIST.ACTUATORS.TITLE}}</md-subheader>
                              <md-list-item style="background-color: {{actuator.data.connected?'rgba(0, 230, 184, 0.2)':'rgba(255, 77, 77, 0.2)'}}" ng-click="vm.navigateTo('actuators', actuator.data.connectedSink.id, actuator.data.$id, $event)"  ng-repeat="actuator in vm.actuatorListItems">
                                  <md-icon md-svg-icon="{{actuator.data.icon}}"></md-icon>
                                  <h4> {{ actuator.data.name }} </h4>
                                  <span flex></span>
                                  <md-icon ng-if="actuator.data.readings.value=='!'"
                                           style="color:#FA8072;"
                                           aria-label="announcement"
                                           md-svg-icon="{{vm.SCREENCONFIG.ICONS.WARNING}}"></md-icon>
                                  <h4> {{ actuator.data.configurations.pin }} </h4>
                                  <span flex="5"></span>
                                  <h4 ng-if="actuator.data.readings.value!='!'"> {{ actuator.data.readings.value }} {{ actuator.data.readings.unit }} </h4>
                              </md-list-item>
                              <md-divider></md-divider>
                          </div>
                        </md-content>
                        <md-content layout="column" section id="status-container" ng-if="vm.sinkList[vm.currentNavItem].type === 'esp8266'"></md-content>
                        <md-content layout="row" layout-padding layout-align="center center">
                            <md-switch class="md-secondary" ng-model="vm.sinkList[vm.currentNavItem].enabled" ng-change="vm.toggleEnabled(vm.sinkList[vm.currentNavItem].id, vm.sinkList[vm.currentNavItem].$id)"></md-switch>
                            <span style="background-color: {{(vm.listItems[vm.currentNavItem].enabled)?'rgba(51, 102, 153,0.5)':'rgba(150, 150, 150,0.5)'}}">
                                <md-icon class="md-avatar-icon" md-svg-icon="{{vm.ICONS.ON}}" ng-if="vm.sinkList[vm.currentNavItem].enabled" aria-label="on"></md-icon>
                                <md-icon class="md-avatar-icon" md-svg-icon="{{vm.ICONS.OFF}}" ng-if="!vm.sinkList[vm.currentNavItem].enabled" aria-label="off"></md-icon>
                                <span class="md-padding">{{(vm.sinkList[vm.currentNavItem].enabled)?'Sink Habilitado':'Sink Bloqueado'}}</span>
                            </span>
                        </md-content>
                    </md-card-content>
                </md-card>
            </section>
            <md-button class="md-fab md-mini floating-component" aria-label="Novo Sink" ng-click="vm.newSink(vm.sinkList[vm.currentNavItem].id)">
                <md-icon md-svg-icon="{{vm.ICONS.NEW}}"  aria-label="novo sink"></md-icon>
            </md-button>
        </div>
    </md-content>
</div>
