<span flex-gt-sm="100" flex  ng-cloak="">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>{{vm.SCREENCONFIG.LIST.TITLE}}</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="Ajuda?" ng-click="vm.showHelp($event)">
                Ajuda?
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="vm.newItem()">
                <md-icon md-svg-icon="{{vm.ICONS.NEW}}"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-subheader class="md-no-sticky md-accent md-padding">{{vm.SCREENCONFIG.LIST.SUBSCRIBED.TITLE}}</md-subheader>
        <md-list ng-animate="'animate'" class="md-dense">
            <!--ng-click="vm.navigateTo(item.$id, $event)"-->
            <md-list-item class="md-3-line"  ng-repeat="item in vm.listItems.groups | SubscriptionFilter:{values: vm.listItems.subscribed, type:'subscribe', reversal: false} as filteredRecipes">
                <img alt="{{ item.data.configurations.label }}" ng-src="{{item.data.configurations.image}}" class="md-avatar" />
                <div class="md-list-item-text" >
                    <h3>{{ item.data.configurations.label }}</h3>
                    <h4>{{ item.data.configurations.description }}</h4>
                </div>
                <span flex></span>
                <h4> {{ item.subscribeDate }} </h4>
                <md-icon md-svg-icon="{{vm.ICONS.CLOCK}}" aria-label="Assinantes"></md-icon>
                <span flex></span>
                <md-switch class="md-secondary" ng-model="value" ng-change="vm.toggleState(item.data)" ng-init="value=true"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-divider ></md-divider>
        <!--<md-list ng-animate="'animate'" class="md-dense">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky md-warn">{{vm.SCREENCONFIG.LIST.ALERTS.TITLE}}</md-subheader>
            <md-list-item class="md-3-line" ng-click="vm.navigateTo(item.$id, $event)" ng-repeat="item in vm.listItems.groups | SubscriptionFilter:{values: vm.listItems.subscribed, type:'recipe', reversal: true} as filteredRecipes" >
                <img alt="{{ item.configurations.name }}" ng-src="{{item.configurations.localization.image}}" class="md-avatar" />
                <div class="md-list-item-text" >
                    <h3>{{ item.configurations.name }}</h3>
                    <h4>{{ item.configurations.type }}</h4>
                </div>
                <span flex></span>
                <h4> {{ item.subscribers.length }} </h4>
                <md-icon md-svg-icon="{{vm.SCREENCONFIG.LIST.SUBSCRIBERS}}" aria-label="Assinantes"></md-icon>
                <span flex></span>
                <md-switch class="md-secondary" ng-model="subscribed" ng-change="vm.subscribeToRecipe(item)"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-divider ></md-divider>-->
    </md-content>

    <md-divider></md-divider>

    <md-content class="md-padding" ng-if="vm.listItems.groups.length - vm.listItems.subscribed.length > 0">
        <md-subheader class="md-no-sticky md-warn">{{vm.SCREENCONFIG.LIST.CATALOG.TITLE}}</md-subheader>

        <md-grid-list md-cols-gt-md="12" md-cols="3" md-cols-md="8"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <!--ng-click="vm.navigateTo(item.$id, $event)"-->
            <md-grid-tile
                          ng-repeat="item in vm.listItems.groups | SubscriptionFilter:{values: vm.listItems.subscribed, type:'subscribe', reversal: true} as filteredRecipes"
                          md-colspan-gt-sm="{{vm.RANDOMSPAN}}"
                          md-rowspan-gt-sm="{{vm.RANDOMSPAN}}" class="card" >
                <md-tooltip md-direction="up" md-visible="tooltipVisible"
                            md-autohide="false">
                    {{item.data.configurations.description}}
                </md-tooltip>
                <md-card layout-fill ng-style="{'background': vm.RANDOMCOLOR}" >
                    <img ng-src="{{item.data.configurations.image}}" class="md-card-image" alt="Image" />
                    <md-grid-tile-header layout-align="center center" class="darkAlphaBackground capitalize" >
                        <small class="md-caption">{{ item.data.configurations.label }} </small>
                        <div class="md-body-2"> Receita </div>
                    </md-grid-tile-header>
                    <md-card-actions layout="row" layout-align="end center">
                        <span>
                            <md-icon md-svg-icon="{{vm.ICONS.SUBSCRIBERS}}" aria-label="Assinantes"></md-icon>
                            <span class="md-subhead"><strong>{{ (item.data.subscribers.length)?item.data.subscribers.length:0 }}</strong></span>
                        </span>
                        <span flex></span>
                        <md-switch class="md-secondary" ng-model="subscribed" ng-change="vm.subscribeToGroup(item.data, item.objid)"></md-switch>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>




<div hide flex-gt-sm="50"  flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Detalhes</span>
        </div>
    </md-toolbar>

    <md-content>
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>
