<md-content flex-gt-sm="100" flex >
    <md-toolbar layout="row" class="md-hue-2">
        <div class="md-toolbar-tools">
            <span>{{vm.SCREENCONFIG.LIST.TITLE}}</span>
        </div>
    </md-toolbar>
    <md-tabs class="md-accent" md-selected="selectedIndex" md-border-bottom md-swipe-content md-dynamic-height>
        <md-tab ng-repeat="(key, value) in vm.listItems"
                ng-if="value != ''"
                label="{{key}}" >
                <md-list class="md-dense" flex>
                    <md-subheader class="md-no-sticky"><strong>{{key}}</strong></md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="item in value">
                        <img ng-src="{{vm.ICONS[key]}}" class="md-avatar" alt="{{item.sensor}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.sensor }}</h3>
                            <h4>{{ item.date | date:'dd/MM/yyyy @ h:mma' }}</h4>
                            <p>{{item.value}}{{ item.unit }}</p>
                        </div>
                    </md-list-item>
                </md-list>
        </md-tab>
    </md-tabs>
</md-content>
<as-back-top scroll-speed=600 button-theme="light"><md-icon md-svg-src="{{ vm.ICONS.BACKTOP }}" aria-label="Voltar ao topo"></md-icon></as-back-top>
<i class="material-icons"></i>