<div flex ng-cloak class="gridListDynamicTiles">
    <md-grid-list
            md-cols="1"
            md-cols-sm="2"
            md-cols-md="3"
            md-cols-gt-md="6"
            md-row-height-gt-md="1:1"
            md-row-height="4:3"
            md-gutter="8px"
            md-gutter-gt-sm="4px"
            data-ng-init="vm.initList()" >
        <md-grid-tile ng-repeat="item in vm.alertItems track by $index"
                      md-rowspan="{{item.tile.span.row}}"
                      md-colspan="{{item.tile.span.col}}"
                      md-colspan-sm="1"
                      md-colspan-xs="1"
                      class="card" >
            <md-card layout-fill ng-class="item.tile.background">
                <md-grid-tile-header layout-padding class="darkAlphaBackground">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="assets/icons/{{item.icon}}"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{item.name}}</span>
                            <span class="md-title">{{item.label}} - {{$index}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-grid-tile-header>
                <img ng-src="assets/images/{{item.localization.image}}" class="md-card-image" alt="Image" />

                <md-grid-content>
                    <md-card-actions layout="row" layout-align="start center" >
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Favorite">
                                <md-icon md-svg-src="assets/icons/action/ic_assessment_24px.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Settings">
                                <md-icon md-svg-src="assets/icons/action/ic_account_circle_24px.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Share">
                                <md-icon md-svg-src="assets/icons/action/ic_favorite_24px.svg"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button>Action 1</md-button>
                    </md-card-actions>
                </md-grid-content>


                    <!-- <img ng-src="assets/images/{{item.localization.image}}" class="md-card-image" alt="image caption"  layout-fill/>

                <div class="alert-selected" >
                    <div flex layout-xs="column" layout="row" class="alert-content">
                        <div layout="row" flex-gt-sm="40" >
                            <img ng-src="assets/images/{{item.icon}}" class="card-image" alt="Washed Out">
                        </div>
                        <div layout="column" flex-gt-sm="60" >
                            <div layout-align="center center">alerta: {{item.label}} ({{item.$key}})</div>
                            <div layout-align="space-around center">
                                <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Favorite">
                                    <md-icon md-svg-src="assets/icons/action/ic_account_circle_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Settings">
                                    <md-icon md-svg-src="assets/icons/action/ic_account_circle_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Share">
                                    <md-icon md-svg-src="assets/icons/action/ic_account_circle_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>-->
                <md-grid-tile-footer class="darkAlphaBackground">
                    <h3>{{item.localization.address}}</h3>
                </md-grid-tile-footer>
            </md-card>


        </md-grid-tile>
    </md-grid-list>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="addDialog">
        <md-dialog aria-label="List dialog" flex="80">
            <md-dialog-content>

            </md-dialog-content>
            <md-dialog-actions>
                <md-button ng-click="vm.closeDialog()" class="md-primary">
                    Fechar
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
    <!--
    <md-list layout="row" layout-wrap flex data-ng-init="vm.initList()">
        <md-list-item ng-repeat="item in vm.alertItems" >
            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch ng-click="navigateTo(item.routeLink)">
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="assets/images/{{item.icon}}"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{item.name}}</span>
                        <span class="md-subhead">{{item.type}}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{item.label}}</span>
                        <span class="md-subhead">{{item.moreInfo}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </md-list-item>
    </md-list>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</md-content>

<div class="modal fade" id="alertsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-box" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                </a>
                <h4 class="modal-title" id="myModalLabel"> <i class="fa fa-map-marker fa-fw"></i> Mapa de Alertas</h4>
            </div>
            <div class="modal-body">
                <as-maps [alerts]="alertItems"></as-maps>
            </div>
        </div>
    </div>
</div>-->

<!-- Modal -->
<!--<div id="add_element" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">


        <div class="modal-content">
            <div class="modal-header login-header">
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <h4 class="modal-title">Incluir Alerta</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Título" name="title">
                <input type="text" placeholder="Rótulo" name="label">
                <input type="text" placeholder="Imagem" name="image">
                <textarea placeholder="Descrição" name="description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Cancelar</button>
                <button type="button" class="add-element" data-dismiss="modal">Incluir</button>
            </div>
        </div>

    </div>
</div>-->
