<md-dialog aria-label="Ajuda" flex="80">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Configurations" ng-disabled="true">
                    <md-icon md-svg-icon="assets/icons/editor/ic_mode_edit_24px.svg"></md-icon>
                </md-button>
                <span>
                    <h3>
                        <span class="md-subhead">Configuração: </span>
                        <span class="md-title">
                            <strong>
                                {{ vm.selected.type }}
                            </strong>
                        </span>
                    </h3>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-wrap ng-if="vm.selected.subtype" flex >
                    <md-input-container flex>
                        <label>Label</label>
                        <input ng-model="vm.selected.label" type="text">
                    </md-input-container>
                    <span layout="row">
                        <md-input-container class="md-icon-float" flex ng-if="vm.externalAPIs[vm.selected.subtype].apis">
                            <label>Opções</label>
                            <md-select ng-model="vm.selected.searchOption" id="searchOption">
                                <md-option ng-repeat="option in vm.externalAPIs[vm.selected.subtype].apis" ng-value="option.path" >
                                    {{option.path}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </span>
                    <md-content layout="column" ng-if="vm.selected.searchOption && vm.externalAPIs[vm.selected.subtype].apis[vm.selected.searchOption].parameters.length>0" layout-padding>
                        <label>Parâmetros de Seleção</label>
                        <span layout="row" layout-wrap>
                            <md-input-container flex flex-gt-xs="33" flex-gt-sm="20" ng-repeat="parameter in vm.externalAPIs[vm.selected.subtype].apis[vm.selected.searchOption].parameters">
                                <label class="capitalize">{{parameter}}</label>
                                <input ng-model="vm.selected.requestParameters[parameter]" type="text">
                            </md-input-container>
                        </span>
                    </md-content>
                    <md-content layout="column" ng-if="vm.selected.searchOption && vm.externalAPIs[vm.selected.subtype].apis[vm.selected.searchOption].attributes.length>0" layout-padding>
                        <label>Atributos de Seleção</label>
                        <span layout="row">
                            <md-input-container flex flex-gt-xs="33" flex-gt-sm="20" ng-repeat="parameter in vm.externalAPIs[vm.selected.subtype].apis[vm.selected.searchOption].attributes">
                                <label class="capitalize">{{parameter}}</label>
                                <input ng-model="vm.selected[parameter]" type="text">
                            </md-input-container>
                        </span>
                    </md-content>
                    <md-content layout="column" ng-if="vm.selected.searchOption" layout-padding>
                        <label>Resultado avaliado</label>
                        <div layout="row" ng-repeat="parameter in vm.externalAPIs[vm.selected.subtype].apis[vm.selected.searchOption].output">
                            <md-input-container flex flex-gt-xs="20" >
                                <label class="capitalize">Coluna avaliada</label>
                                <input ng-model="vm.selected.responseParameters[$index].column" type="text" disabled ng-init="vm.selected.responseParameters[$index].column = parameter">
                            </md-input-container>
                            <md-input-container class="md-icon-float" flex flex-gt-xs=20>
                                <label>Relacional</label>
                                <md-select ng-model="vm.selected.responseParameters[$index].connector" id="conector">
                                    <md-option ng-repeat="option in vm.connectors | filter:'relacional'" ng-value="option.label" >
                                        <md-icon md-svg-src="{{option.icon}}" class="name"></md-icon>
                                        {{option.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="capitalize"flex flex-gt-xs="60">
                                <label class="capitalize">Resultado Esperado (Value)</label>
                                <input ng-model="vm.selected.responseParameters[$index].value" type="text">
                            </md-input-container>
                        </div>
                    </md-content>
                </div>
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.closeDialog('changed')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>