<md-dialog aria-label="Ajuda" flex="80">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Configurations" ng-disabled="true">
                    <md-icon md-svg-icon="assets/icons/editor/ic_mode_edit_24px.svg"></md-icon>
                </md-button>
                <span>
                    <h3>
                        <span class="md-subhead">Configuração: </span>
                        <span class="md-title">
                            <strong>
                                {{ vm.selected.type }}
                            </strong>
                        </span>
                    </h3>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" ng-if="vm.selected.type" >
                    <md-input-container flex>
                        <label>Valor</label>
                        <input ng-model="vm.selected.label" type="text">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.closeDialog('changed')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>