<md-dialog aria-label="Ajuda" flex="80">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Configurations" ng-disabled="true">
                    <md-icon md-svg-icon="assets/icons/editor/ic_mode_edit_24px.svg"></md-icon>
                </md-button>
                <span>
                    <h3>
                        <span class="md-subhead">Configuração: </span>
                        <span class="md-title">
                            <strong>
                                {{ vm.selected.type }}
                            </strong>
                        </span>
                    </h3>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container class="md-icon-float" flex="70">
                        <label>Nome</label>
                        <input type="text" ng-model="vm.selected.name">
                    </md-input-container>
                    <md-input-container class="md-icon-float" flex="30">
                        <label>Label</label>
                        <input type="text" ng-model="vm.selected.label">
                    </md-input-container>
                </div>
                <div layout="column" layout-wrap ng-if="vm.selected.type" flex >
                    <section layout-align="center center" layout-padding ng-repeat="action in vm.selected.actions">
                            <span layout="row">
                                <md-input-container class="md-icon-float" flex="50">
                                    <label>Tipo</label>
                                    <md-select ng-model="action.type" id="alertType">
                                        <md-option ng-repeat="type in vm.alertTypes" ng-value="type.value" >
                                            {{type.display}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-switch ng-model="action.include" flex>Incluir</md-switch>
                            </span>
                        <span layout="row" ng-if="action.type=='change'">
                                <md-input-container class="md-icon-float" flex>
                                    <label>Tipo</label>
                                    <md-select ng-model="action.changedAttribute" id="alertChangedAttribute">
                                        <md-option ng-repeat="attr in vm.alertAttributes" ng-value="attr.value" >
                                            {{attr.display}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-icon-float" flex>
                                    <label>Valor</label>
                                    <input type="text" ng-model="action.changedValue">
                                </md-input-container>
                            </span>
                    </section>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.closeDialog('changed')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>