<md-dialog aria-label="Ajuda" flex="80">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Configurations" ng-disabled="true">
                    <md-icon md-svg-icon="assets/icons/editor/ic_mode_edit_24px.svg"></md-icon>
                </md-button>
                <span>
                    <h3>
                        <span class="md-subhead">Configuração: </span>
                        <span class="md-title">
                            <strong>
                                {{ vm.selected.type }}
                            </strong>
                        </span>
                    </h3>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-wrap ng-if="vm.selected.type" flex >
                    <md-input-container flex>
                        <label>Label</label>
                        <input ng-model="vm.selected.label" type="text">
                    </md-input-container>
                    <span layout="row">
                        <md-input-container class="md-icon-float" flex>
                            <label>Opções</label>
                            <md-select ng-model="vm.selected.searchOption" id="searchOption">
                                <md-option ng-repeat="type in vm.searchOptionTypes" ng-value="type.value" >
                                    {{type.display}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-icon-float" flex ng-if="vm.selected.searchOption">
                            <label>Opções</label>
                            <md-select ng-model="vm.selected.searchOption" id="searchOption">
                                <md-option ng-repeat="option in vm.selected.searchOptions.availableAttributes" ng-value="option" >
                                    {{option}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </span>
                    <span layout="column" ng-if="vm.selected.searchOption">
                        <md-input-container flex ng-repeat="parameter in vm.selected.searchOption.parameters">
                            <label>Atributo</label>
                            <input ng-model="vm.selected[parameter]" type="text">
                        </md-input-container>
                    </span>
                </div>
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.closeDialog('changed')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>