<md-dialog aria-label="Ajuda" flex="80">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Configurations" ng-disabled="true">
                    <md-icon md-svg-icon="assets/icons/editor/ic_mode_edit_24px.svg"></md-icon>
                </md-button>
                <span>
                    <h3>
                        <span class="md-subhead">Configuração: </span>
                        <span class="md-title">
                            <strong>
                                {{ vm.selected.type }}
                            </strong>
                        </span>
                    </h3>
                </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                    <div layout="column" layout-wrap ng-if="vm.selected.type" flex >
                        <md-input-container flex>
                            <label>Label</label>
                            <input ng-model="vm.selected.label" type="text">
                        </md-input-container>

                        <div layout="row" layout-wrap ng-repeat="action in vm.selected.actions" flex>
                            <md-input-container flex>
                                <label>Atributo alterado</label>
                                <input ng-model="action.changedAttribute" type="text">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Novo valor</label>
                                <input ng-model="action.changedValue" type="text">
                            </md-input-container>
                            <section flex layout="row" layout-align="center start" layout-wrap>
                                <md-button class="md-icon-button" aria-label="Change" ng-click="vm.changeAction($event, $index)">
                                    <md-icon md-svg-icon="assets/icons/editor/ic_mode_edit_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="More" ng-click="vm.addAction($event, $index)">
                                    <md-icon md-svg-icon="assets/icons/content/ic_add_circle_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Remove" ng-click="vm.removeAction($index)">
                                    <md-icon md-svg-icon="assets/icons/content/ic_remove_circle_24px.svg"></md-icon>
                                </md-button>
                            </section>
                        </div>
                    </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.closeDialog('changed')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>