<md-dialog aria-label="Ajuda">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ajuda</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Ajuda</h2>
                <p>
                    Ajudando teste
                </p>

                <img style="margin: auto; max-width: 100%;" alt="Sanca" src="assets/images/640px-São_Carlos_-_Downtown_by_Night.jpg">

                <p>
                    Ajudando teste 2
                </p>
                <p>
                    Ajudando teste 3
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                Mais em nosso Wiki
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('no')">
                Não foi útil
            </md-button>
            <md-button ng-click="answer('yes')">
                Foi útil
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>