<div flex-gt-sm="100" flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>{{vm.SCREENCONFIG.LIST.TITLE}}</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="Ajuda?" ng-click="vm.showHelp($event)">
                Ajuda?
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-list ng-animate="'animate'" class="md-dense" >
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky md-accent">{{vm.SCREENCONFIG.LIST.OWNED.TITLE}}</md-subheader>
            <md-list-item class="md-3-line" ng-click="vm.navigateTo(item.$id, $event)" ng-repeat="item in vm.listItems | RecipesFilter: {column: 'enabled', value: true} as filteredRecipes">
                <img alt="{{ item.data.icon }}" ng-src="{{item.data.icon}}" class="md-avatar" />
                <div class="md-list-item-text" >
                    <h3>{{ item.data.label }}</h3>
                    <h4>{{ item.data.container.size }}</h4>
                    <p ng-if="item.data.enabled">{{vm.SCREENCONFIG.LIST.ACTIVE.TITLE}}</p>
                    <p ng-if="!item.data.enabled">{{vm.SCREENCONFIG.LIST.NOTACTIVE.TITLE}}</p>
                </div>
                <span flex></span>
                <md-icon md-svg-icon="{{vm.ICONS.SUBSCRIBERS}}" aria-label="Assinantes"></md-icon>
                <h4 class="md-padding"><strong>{{ vm.subscribersQty(item.data.subscribers) }} </strong></h4>
                <span flex></span>
                <md-switch class="md-secondary" ng-model="item.data.enabled" ng-change="vm.toggleState(item.data)"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-divider ></md-divider>
        <md-list ng-animate="'animate'" class="md-dense" data-ng-init="vm.initList()">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky md-warn">{{vm.SCREENCONFIG.LIST.COPIED.TITLE}}</md-subheader>
            <md-list-item class="md-2-line" ng-click="vm.navigateTo(item.data.$id, $event)" ng-repeat="item in vm.listItems | filter:{ enabled: false }">
                <img alt="{{ item.data.configurations.name }}" ng-src="assets/images/{{item.data.localization.image}}" class="md-avatar" />
                <div class="md-list-item-text" >
                    <h3>{{ item.data.configurations.name }}</h3>
                    <h4>{{ item.data.configurations.type }}</h4>
                </div>
                <span flex></span>
                <md-switch class="md-secondary" ng-model="item.data.enabled" ng-change="vm.toggleState(item.data)"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-button class="md-fab md-mini floating-component" aria-label="Favorite" ng-click="vm.newItem()">
            <md-icon md-svg-icon="{{vm.SCREENCONFIG.ICONS.NEW}}"></md-icon>
        </md-button>
    </md-content>
</div>

<div hide flex-gt-sm="50"  flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Detalhes</span>
        </div>
    </md-toolbar>

    <md-content>
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>


<!--
<div flex ng-cloak class="gridListDynamicTiles">
    <md-grid-list
            md-cols="1"
            md-cols-sm="2"
            md-cols-md="3"
            md-cols-gt-md="6"
            md-row-height-gt-md="1:1"
            md-row-height="4:3"
            md-gutter="8px"
            md-gutter-gt-sm="4px"
            data-ng-init="vm.initList()" >
        <md-grid-tile ng-repeat="item in vm.alertItems track by $index"
                      md-rowspan="{{item.data.configurations.row}}"
                      md-colspan="{{item.data.configurations.col}}"
                      md-colspan-sm="1"
                      md-colspan-xs="1"
                      class="card" ng-click="vm.show">
            <md-card layout-fill ng-class="item.data.severity">
                <md-grid-tile-header layout-padding class="darkAlphaBackground" >
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="assets/icons/{{item.data.configurations.icon}}"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{item.data.configurations.name}}</span>
                                <h4>
                                  {{item.data.configurations.label}} -
                                  <span flex-end>{{item.data.startDate}}</span>
                                </h4>
                        </md-card-header-text>
                    </md-card-header>
                </md-grid-tile-header>
                <img ng-src="assets/images/{{item.data.localization.image}}" class="md-card-image" alt="Image" />
                <md-grid-content ng-class="item.data.severity">
                    <md-card-actions layout="row" layout-align="start center" >
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Favorite">
                                <md-icon md-svg-src="assets/icons/action/ic_assessment_24px.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Settings">
                                <md-icon md-svg-src="assets/icons/action/ic_account_circle_24px.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Share">
                                <md-icon md-svg-src="assets/icons/action/ic_favorite_24px.svg"></md-icon>
                            </md-button>
                            <h4>{{item.data.lastUpdate.value}}{{item.data.lastUpdate.unit}}</h4>
                        </md-card-icon-actions>
                        <md-button>Assinar</md-button>
                    </md-card-actions>
                </md-grid-content>



                <md-grid-tile-footer ng-class="item.data.configurations.background">
                    <h3>{{item.data.localization.address}}</h3>
                </md-grid-tile-footer>
            </md-card>


        </md-grid-tile>
    </md-grid-list>
</div>
-->