<div layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <form name="personForm">
          <md-input-container>
            <label>Nome</label>
            <input ng-model="person.name"
                  md-maxlength="30" required md-no-asterisk name="name" placeholder="Nome">
            <div ng-messages="personForm.name.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Idade</label>
            <input required type="number" step="any" name="age"
                ng-model="person.age" min="0" max="999" ng-pattern="/^[0-9]{3}$/">
            <div ng-messages="personForm.age.$error" multiple md-auto-hide="true">
               <div ng-message="required">
                 You've got to select some age!
               </div>

               <div ng-message="min">
                 You should choose at least 0 year for ages.
               </div>

               <div ng-message="pattern">
                 You should choose a maximum of 3 numbers.
               </div>

               <div ng-message="max">
                 {{projectForm.age.$viewValue }}? That's a little ridiculous.
               </div>
            </div>
          </md-input-container>
          <md-button type="submit" class="md-raised md-primary" data-ng-click="vm.add()">Add</md-button>
        </form>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">Name/Age</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="p in people" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ p.name }}</h3>
            <h4>{{ p.age }}</h4>
            <p>{{ p.notes }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
