<md-content layout="column" ng-cloak class="md-inline-form" xmlns="http://www.w3.org/1999/html">
    <div class="page-container">
        <md-toolbar class="md-menu-toolbar">
            <div layout="row">
                <md-toolbar-filler layout layout-align="center center">
                    <md-icon md-svg-src="{{vm.SCREENCONFIG.ICONS.ACCOUNTS}}" aria-label="Clientes Logo"></md-icon>
                </md-toolbar-filler>
                <div>
                    <h2 class="md-toolbar-tools">{{vm.activity}}</h2>
                    <md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">
                        <md-nav-item md-nav-sref="localization" name="localization">Localização</md-nav-item>
                        <md-nav-item md-nav-sref="main" name="main">Básico</md-nav-item>
                        <md-nav-item md-nav-sref="tec" name="tec">Técnicas</md-nav-item>
                        <md-nav-item md-nav-sref="readings" name="readings">Leituras</md-nav-item>
                    </md-nav-bar>
                </div>
            </div>
        </md-toolbar>

        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
        <div class="container" ng-show="vm.progress">
                <md-progress-linear md-mode="query" ng-disabled="!vm.progress"></md-progress-linear>
                <div class="bottom-block">
                    <span>Enviando ...</span>
                </div>
            </div>
        <div layout-padding>
            <form name="vm.sensorForm" ng-submit="vm.submit()">
                <section layout="column" layout-gt-xs="row"  layout-align="center center">
                    <span flex  layout-margin>
                    <!--<md-autocomplete
                            md-selected-item="vm.serverID"
                            md-search-text-change="vm.searchTextChange(vm.searchText)"
                            md-search-text="vm.searchText"
                            md-selected-item-change="vm.selectedItemChange(item)"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="item.$value"
                            md-min-length="0"
                            placeholder="Selecione um servidor"
                            md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                                                    <span class="item-title">
                                                        <md-icon md-svg-icon="assets/icons/device/ic_usb_24px.svg"></md-icon>
                                                        <span> Servidor: </span>
                                                    </span>
                            <span class="item-metadata">
                                                        <span class="item-metastat">
                                                          <strong>{{item.$value}} </strong>
                                                        </span>
                                                    </span>
                        </md-item-template>
                    </md-autocomplete>-->
                        <span class="item-title">
                            <md-icon md-svg-icon="assets/icons/device/ic_usb_24px.svg"></md-icon>
                            <span> Servidor: </span>
                            <strong>{{vm.serverID}}</strong>
                        </span>

                    </span>
                    <span flex>
                        <md-input-container layout-margin>
                            <md-switch ng-model="vm.isPrivateAccess">Sensor privado?</md-switch>
                        </md-input-container>
                    </span>
                </section>
                <section layout="column" layout-gt-md="row" >
                    <md-card ng-show="vm.currentNavItem == 'localization'">
                        <md-card-header>
                            <md-card-avatar>
                                <md-icon md-svg-icon="assets/icons/maps/ic_person_pin_24px.svg"></md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Localização</span>
                                <span class="md-subhead">{{vm.sensor.name}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <md-content layout-padding flex>
                                <div layout="row" layout-fill ng-if="vm.activityType=='new'">

                                </div>
                                <div layout="row" layout-fill >
                                    <md-input-container  md-no-float flex>
                                        <label>Localização</label>
                                        <input type="text"
                                               places-auto-complete
                                               md-maxlength=80
                                               aria-label="Endereço"
                                               ng-model="vm.address"
                                               component-restrictions="{country:'br'}"
                                               on-place-changed="vm.placeChanged(place)" />
                                    </md-input-container>
                                    <md-button class="md-fab md-mini md-primary" ng-click="vm.findMe()" >
                                        <md-icon md-svg-icon="assets/icons/maps/ic_my_location_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                                <!--<ng-map center="{{vm.mapCenter}}"
                                        zoom="16">
                                    <marker animation="DROP"
                                            draggable="false"
                                            position="{{vm.position.pos}}"
                                            title="pos: {{vm.position.pos}}"></marker>

                                </ng-map>-->
                            </md-content>
                        </md-card-content>
                    </md-card>
                </section>
                <section layout="column" layout-gt-md="row" ng-show="vm.currentNavItem == 'main'" flex>
                    <md-card>
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon class="md-avatar-icon" md-svg-icon="assets/icons/action/ic_info_outline_24px.svg"></md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Informações Básicas</span>
                                    <span class="md-subhead">{{vm.sensor.name}} ({{vm.selectedSensorConfig.name}})</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <md-content layout-gt-md="row" layout-padding>
                                    <md-input-container class="md-block" flex-gt-md>
                                        <label>Tipo</label>
                                        <md-select required ng-model="vm.selectedSensorConfig" ng-change="vm.selectSensorType()">
                                            <md-option ng-repeat="tp in vm.sensorTypes | filter: {available: true} as availableSensors"  ng-value="{{tp}}">{{tp.name}}</md-option>
                                        </md-select>
                                        <span>{{vm.startSensorConfig(vm.availableSensors)}}</span>
                                    </md-input-container>
                                </md-content>
                                <md-content layout-gt-md="row" layout-padding>
                                    <md-input-container flex-gt-md>
                                        <md-switch ng-model="vm.sensor.alert" disabled>Alertas ativos? </md-switch>
                                    </md-input-container>
                                    <md-input-container flex-gt-md>
                                        <md-switch ng-model="vm.sensor.enabled"> Disponibilizar Sensor? </md-switch>
                                    </md-input-container>
                                </md-content>
                                <md-content layout-gt-xs="row" layout-padding>
                                    <md-input-container class="md-block" flex-gt-md>
                                        <label>Nome</label>
                                        <input required ng-model="vm.sensor.name">
                                    </md-input-container>
                                    <md-input-container required class="md-block" flex-gt-md>
                                        <label>Label</label>
                                        <input required ng-model="vm.sensor.label">
                                    </md-input-container>
                                </md-content>
                            </md-card-content>
                        </md-card>
                </section>
                <section layout="column" layout-gt-md="row" ng-show="vm.currentNavItem == 'tec'" flex>
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <md-icon class="md-avatar-icon" md-svg-icon="{{vm.SCREENCONFIG.ICONS.AVATAR}}"></md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Configurações</span>
                                <span class="md-subhead">{{vm.sensor.name}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <md-content layout-gt-xs="row" layout-padding>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.controller">
                                    <label>Modelo</label>
                                    <md-select ng-model="vm.sensor.configurations.controller">
                                        <md-option ng-repeat="controller in vm.selectedSensorConfig.properties.input.controller" value="{{controller.id}}">{{controller.id}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.events">
                                    <label>Eventos</label>
                                    <md-select ng-model="vm.sensor.configurations.events" multiple>
                                        <md-optgroup label="Eventos">
                                            <md-option ng-repeat="event in vm.selectedSensorConfig.properties.events" value="{{event}}">{{event}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </md-content>
                            <md-content layout-gt-xs="row" layout-padding>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.duration">
                                    <label>Duração</label>
                                    <input  type="number" step="any"
                                            name="duration" ng-model="vm.sensor.configurations.duration" min="1000"
                                            max="99999" />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.ledStyle">
                                    <label>Estilo de Led</label>
                                    <md-select ng-model="vm.sensor.configurations.ledStyle">
                                        <md-option ng-repeat="style in vm.ledStyles" value="{{style.val}}">{{style.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="vm.selectedSensorConfig.properties.input.offset">
                                    <label>Threshold</label>
                                    <input type="number" step="any"
                                           name="offset" ng-model="vm.sensor.configurations.offset" min="0"
                                           max="100" />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.loop">
                                    <label>Loop</label>
                                    <input  type="number" step="any"
                                           name="loop" ng-model="vm.sensor.configurations.loop" min="100"  value="1000"
                                           max="9999" />
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="vm.selectedSensorConfig.properties.input.maxval">
                                    <label>Fluxo</label>
                                    <input type="number" step="any"
                                           name="offset" ng-model="vm.sensor.configurations.maxval" min="0" value="1000"
                                           max="10000" />
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="vm.selectedSensorConfig.properties.input.threshold">
                                    <label>Threshold</label>
                                    <input type="number" step="any"
                                           name="threshold" ng-model="vm.sensor.configurations.threshold" min="0"
                                           max="100" />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.min">
                                    <label>Min</label>
                                    <input  type="number" step="any"
                                           name="min" ng-model="vm.sensor.configurations.min" min="0" value="0"
                                           max="100" />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.maxval">
                                    <label>Max</label>
                                    <input  type="number" step="any"
                                           name="max" ng-model="vm.sensor.configurations.maxval" min="0"  value="1"
                                           max="100" />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-if="vm.selectedSensorConfig.properties.input.unit">
                                    <label>Unidade</label>
                                    <md-select ng-model="vm.sensor.configurations.unit" >
                                        <md-option ng-repeat="unit in vm.units" value="{{unit}}">{{unit}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </md-content>
                            <md-content layout-gt-xs="row" layout-padding>
                                <div class="md-block" flex-gt-xs layout-padding >
                                    <md-subheader class="md-primary">Entrada</md-subheader>
                                    <md-input-container class="md-block" >
                                        <label>Pin</label>
                                        <md-select required ng-model="vm.sensor.configurations.pin">
                                            <md-option ng-repeat="pin in vm.pins" value="{{pin.val}}">{{pin.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </md-content>
                        </md-card-content>
                    </md-card>
                </section>
                <section layout="column" layout-gt-md="row" ng-if="vm.currentNavItem == 'readings'">
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <md-icon class="md-avatar-icon" md-svg-icon="{{vm.SCREENCONFIG.ICONS.AVATAR}}"></md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Histórico de Leituras</span>
                                <span class="md-subhead">{{vm.sensor.name}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <div class="md-list-item-text">
                                <h3>{{vm.sensor.readings.value}}{{vm.sensor.readings.unit}}</h3>
                                <h4>média: {{vm.sensor.readings.average}}</h4>
                                <p>letituras: {{vm.sensor.readings.quantity}}</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </section>
                <div layout-gt-xs="row" flex>
                    <md-button flex class="md-primary" type="submit" >
                        <md-icon class="md-secondary"  aria-label="Submeter" md-svg-icon="{{vm.SCREENCONFIG.ICONS.PUBLISH}}"></md-icon>
                        Finalizar
                    </md-button>
                    <md-button flex class="md-warn" ng-click="vm.cancel()" >
                        <md-icon class="md-secondary" aria-label="Cancelar" md-svg-icon="{{vm.SCREENCONFIG.ICONS.DELETE}}"></md-icon>
                        Cancelar
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</md-content>


