<div flex-gt-sm="100" flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>{{vm.SCREENCONFIG.LIST.TITLE}}</span>
            <span flex></span>
            <md-button class="md-primary md-raised edgePadding" aria-label="Novo Servidor" ng-click="vm.newServer($even)">
                Novo Servidor
            </md-button>
        </div>
    </md-toolbar>
    <md-content style="padding-bottom: 60px">
        <md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('{{$index}}')" name="{{$index}}" style="background-color: {{vm.listItems[$index].connected?'rgba(0, 230, 184, 0.2)':'rgba(255, 77, 77, 0.2)'}}" ng-repeat="item in vm.listItems track by $index">{{item.$id}}</md-nav-item>
        </md-nav-bar>
        <div ng-if="vm.currentNavItem>-1">
            <md-list ng-animate="'animate'" class="md-dense">
                <md-subheader class="md-no-sticky md-accent">{{vm.SCREENCONFIG.LIST.CONNECTED.TITLE}}</md-subheader>
                <md-list-item style="background-color: {{sensor.connected?'rgba(0, 230, 184, 0.2)':'rgba(255, 77, 77, 0.2)'}}" ng-click="vm.navigateTo(vm.listItems[vm.currentNavItem].$id, sensor.key, $event)"  ng-repeat="sensor in vm.listItems[vm.currentNavItem].sensors | SensorFilter: {column: 'enabled', value: true} as filteredSensors">
                    <md-icon md-svg-icon="{{sensor.icon}}"></md-icon>
                    <h4> {{ sensor.name }} </h4>
                    <span flex></span>
                    <md-icon ng-if="sensor.readings.value=='!'"
                             style="color:#FA8072;"
                             aria-label="announcement"
                             md-svg-icon="{{vm.SCREENCONFIG.ICONS.WARNING}}"></md-icon>
                    <h4> {{ sensor.configurations.pin }} </h4>
                    <span flex="5"></span>
                    <h4 ng-if="sensor.readings.value!='!'"> {{ sensor.readings.value }} {{ sensor.readings.unit }} </h4>
                    <span flex="5"></span>
                    <md-switch class="md-secondary" ng-model="sensor.connected" ng-change="vm.toggleState(vm.listItems[vm.currentNavItem].sensors.$id)"></md-switch>
                </md-list-item>
                <md-subheader class="md-no-sticky md-warn">{{vm.SCREENCONFIG.LIST.DISCONNECTED.TITLE}}</md-subheader>
                <md-list-item ng-click="vm.navigateTo(vm.listItems[vm.currentNavItem].$id, sensor.key, $event)"  ng-repeat="sensor in vm.listItems[vm.currentNavItem].sensors | SensorFilter: {column: 'enabled', value: false} as filteredSensors">
                    <md-icon class="md-primary md-hue-3" md-svg-icon="{{sensor.icon}}"></md-icon>
                    <span class="md-primary md-hue-3"> {{ sensor.name }} </span>
                    <span flex></span>
                    <!--<md-switch class="md-secondary" ng-model="sensor.enabled" ng-change="vm.toggleState(vm.listItems[vm.currentNavItem].sensors.$id)"></md-switch>-->
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <md-button class="md-fab md-mini floating-component" aria-label="Novo Sensor" ng-click="vm.newSensor(vm.listItems[vm.currentNavItem].sensors.$id)">
                <md-icon md-svg-icon="{{vm.SCREENCONFIG.ICONS.NEW}}"></md-icon>
            </md-button>
        </div>
    </md-content>
</div>

<div hide flex-gt-sm="50"  flex>
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Detalhes</span>
    </div>
  </md-toolbar>
  <md-content>
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
  </md-content>
</div>
