.add-button:before {
  position: relative;
  z-index: 100;
  content:"+";
}
.add-button:hover {

  color: rgba(255,255,255,0);
  transform: rotate(45deg);
}

.floating-component{
    position: fixed;
    z-index: 30;
    bottom: 7px;
}

.floating-component.fl-left{
    left: 7px;
}
.floating-component.fl-right.fl-primary{
    right: 7px;
}
.md-mini.floating-component.fl-right.fl-primary{
    right: 14px;
}
.floating-component.fl-right.fl-secondary{
    right: 87px;
}
.floating-component-left{
    position: fixed;
    z-index: 30;
    left: 7px;
    bottom: 7px;
}
.floating-component-left-2x{
    position: fixed;
    z-index: 30;
    left: 7px;
    bottom: 67px;
}
.floating-component-left-3x{
    position: fixed;
    z-index: 30;
    left: 7px;
    bottom: 127px;
}
.fabSpeedDialdemoMoreOptions .md-fab-top-right {
    top: 16px; }

@media (max-device-width: 600px) {
    .fabSpeedDialdemoMoreOptions .md-fab-top-right {
        top: 9px;
        right: 9px; } }

.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab.md-focused, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab.md-focused {
    background-color: #333; }

.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab {
    background-color: #aaa; }

.fabSpeedDialdemoMoreOptions md-content div[flex="50"] {
    padding: 15px; }

.fabSpeedDialdemoMoreOptions md-fab-speed-dial {
    margin-top: 89px; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial md-fab-trigger {
    transition: all 0.3s ease-in-out;
    transform: scale(1); }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide-add.ng-hide-add-active, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide-add.ng-hide-add-active {
    display: flex !important; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide md-fab-trigger, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide md-fab-trigger {
    transform: scale(0); }

.fabSpeedDialdemoMoreOptions .intro {
    padding-left: 5px; }

.sub-button {
  position: absolute;
  display: inline-block;
  background-color:#ff4081;
  color: rgba(255,255,255,0);
  width: 28px;
  height: 28px;
  line-height:48px;
  font-family: "FontAwesome";
  font-size: 12px;
  -webkit-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  transform .1s ease 0s,
  border-radius .2s  ease .2s;
  -moz-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  transform .1s ease 0s,
  border-radius .2s  ease .2s;
  transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
  transform .1s ease 0s,
  border-radius .2s  ease .2s;
}

.tl {
  top: 0;
  left: 0;
  border-radius: 28px 0 0 0;
}

.tr {
  top: 0;
  right: 0;
  border-radius: 0 28px 0 0;
}

.bl {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 28px;
}

.br {
  bottom: 0;
  right: 0;
  border-radius: 0 0 28px 0;
}


.tl:before {
  content:"";
}

.tr:before {
  content:"";
}

.bl:before {
  content:"";
}

.br:before {
  content:"";
}


.add-button:hover .sub-button {
  width: 48px;
  height: 48px;
  transform: rotate(-45deg);

  color: rgba(255,255,255,1);
  -webkit-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  color .3s ease .8s,
  transform .3s ease .8s,
  border-radius .4s  ease .6s;
  -moz-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  color .3s ease .8s,
  transform .3s ease .8s,
  border-radius .4s  ease .6s;
  transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
  color .3s ease .8s,
  transform .3s ease .8s,
  border-radius .4s  ease .6s;
}

.add-button:hover .tl {
  top: -25px;
  left: -25px;
  border-radius: 28px;
}

.add-button:hover .tr {
  top: -25px;
  right: -25px;
  border-radius: 28px;
}

.add-button:hover .bl {
  bottom: -25px;
  left: -25px;
  border-radius: 28px;
}

.add-button:hover .br {
  bottom: -25px;
  right: -25px;
  border-radius: 28px;
}


md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}
md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}
md-sidenav md-icon {
  position: relative;
  top: 5px;
}

.my-icon-button {
    padding: 7px !important;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}
.angular-google-map-container {
    width: 100%;
    height: 600px;
}
/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8px;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}


.ng-map-info-window{
    background: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
}


.gridListDynamicTiles md-icon {
    width: 50%;
    height: 30%;
}
.gridListDynamicTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.gridListDynamicTiles .s64 {
    font-size: 64px; }
.gridListDynamicTiles .s32 {
    font-size: 48px; }
.gridListDynamicTiles md-icon.fa {
    display: block;
    padding-left: 0; }
.gridListDynamicTiles md-icon.s32 span {
    padding-left: 8px; }
.gridListDynamicTiles md-grid-list {
    margin: 8px; }
.gridListDynamicTiles .lightgray {
    background: #f5f5f5; }
.gridListDynamicTiles .gray {
    background: #f5f5f5; }
.gridListDynamicTiles .darkgray {
    background: #424242; }
.gridListDynamicTiles .bluegray {
    background: #B0BEC5; }
.gridListDynamicTiles .lightgreen {
    background: #b9f6ca; }
.gridListDynamicTiles .green {
    background: #8BC34A; }
.gridListDynamicTiles .darkgreen {
    background: #558B2F; }
.gridListDynamicTiles .cyan {
    background: #00BCD4; }
.gridListDynamicTiles .teal {
    background: #009688; }
.gridListDynamicTiles .lime {
    background: #CDDC39; }
.gridListDynamicTiles .amber {
    background: #FFC107; }
.gridListDynamicTiles .amberAccent {
    background: #FFD740; }
.gridListDynamicTiles .lightyellow {
    background: #ffff8d; }
.gridListDynamicTiles .yellow {
    background: #FFEB3B; }
.gridListDynamicTiles .darkyellow {
    background: #F9A825; }
.gridListDynamicTiles .lightblue {
      background: #40C4FF;}
.gridListDynamicTiles .blue {
    background: #2196F3; }
.gridListDynamicTiles .darkBlue {
    background: #1976D2; }
.gridListDynamicTiles .deepBlue {
    background: #1565C0; }
.gridListDynamicTiles .lightPurple {
    background: #8c9eff; }
.gridListDynamicTiles .purple {
    background: #b388ff; }
.gridListDynamicTiles .darkpurple {
    background: #6A1B9A; }
.gridListDynamicTiles .lightred {
    background: #ff8a80; }
.gridListDynamicTiles .red {
    background: #F44336; }
.gridListDynamicTiles .darkred {
    background: #D32F2F; }
.gridListDynamicTiles .pink {
    background: #ff80ab; }
.gridListDynamicTiles md-grid-tile {
    transition: all 400ms ease-out 50ms; }
.gridListDynamicTiles md-grid-tile md-icon {
    padding-bottom: 32px; }
.gridListDynamicTiles md-grid-tile md-grid-tile-footer {
    alpha: 0.5;
    height: 56px; }
.gridListDynamicTiles md-grid-tile-footer figcaption {
    width: 100%; }
.gridListDynamicTiles md-grid-tile-footer figcaption h3 {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center; }

.cardBasicUsage .card-media {
    background-color: #999999; }

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -24em 0;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -24em 0;}
}


.card {
    font-size: 1.4em;
    font-weight: 200;

    -webkit-box-shadow: 0 .25em .7em 0 rgba(207,207,207,1);
    -moz-box-shadow: 0 .25em .7em 0 rgba(207,207,207,1);
    box-shadow: 0 .25em .7em 0 rgba(207,207,207,1);
}

/*------PARAGRAPH------*/
.card .alert-selected .alert-detail {
    position: absolute;
    color: transparent;
    background: #3D6AA2;
    font: 400 30px/187px 'Arvo', Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card .alert-selected:hover .alert-detail{
    color: white;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

/*------IMAGES------*/
.card .alert-selected .alert-content {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.card:hover .alert-selected .alert-content{
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    z-index: -3;
    opacity: 0;
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.md-card-image {
    width: 100%;
    height: 50%;
    color:#fff !important;
    -webkit-animation: backgroundScroll 120s ease-in-out 5s infinite alternate;
    animation: backgroundScroll 120s ease-in-out 5s infinite alternate;
    background-size:130% 100%;
    background-position:top;
    background-attachment:fixed;
}

.alert-selected:hover figure {
    opacity: 0.5;
}

.profilecard .card-media {
    background-color: #999999; }

.darkAlphaBackground {
    background-color: rgba(0, 0, 0, 0.7);
}

.lightAlphaBackground {
    background-color: rgba(255, 255, 255, 0.7);
}

.imageZoom {
    border: .1em  solid rgba(255, 255, 255, 0.5);
    -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
    -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
    transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
}

img.avatarImage {
    position: relative;
    left: -6px;
    width: 56px;
    height: 56px;
    max-width: 56px;
    max-height: 56px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.avatarImage:not([disabled]):hover {
    border: 0;
}
.avatarImage[disabled] {
    border: 0;
}


.transparent{
    background-color: transparent;
}

.notification-form {
    width: 60%;
    padding: 10px;
}


.animate-enter,
.animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.dropzone md-card-content {
  padding: 0
}

md-content div[dnd-list],
md-content div[dnd-list] > .llist {
    position: relative;
}

md-content .dropzone div[dnd-list] {
  margin: 0px;
  min-width: 80px;
  min-height: 86px;
  padding-left: 0px;
  padding-right: 0px;
}

md-content .dropzone  div[dnd-list] .llist {
    display: block;
    margin-bottom: -1px;
}

md-content .dropzone .dndDragging {
    opacity: 0.7;
}

md-content .dropzone .dndDraggingSource {
    display: none;
}

md-content .dropzone .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-width: 70px;
    min-height: 70px;
    position: relative;
}

md-content .dropzone .item {
    padding: 10px 15px;
}


/***************************** Element Selection *****************************/

md-content .dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}

md-content .dropzone .selected md-card {
    color: #3c763d;
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
}

/***************************** Trashcan *****************************/

.trashcan{
    background:grey
}

.trashcan md-icon {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.trashcan .dndDragover md-icon {
    color: grey;
    width: 100%;
    height: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.trashcan .dndPlaceholder {
    display: none;
}

#output{
    max-height: 300px;
    overflow-x:hidden;
    overflow-y:visible;
}

.sensorAlphaHeaderBackground {
    background-color: rgba(0, 0, 0, 0.5);
}

.actionAlphaHeaderBackground {
    background-color: rgba(35, 98, 163, 0.5);
    color: rgb(238, 238, 238);
}

.actionTraillerText {
    color: rgb(35, 98, 163);
}

.alertAlphaHeaderBackground {
    background-color: rgba(255, 160, 3, 0.5);
    color: rgb(238, 238, 238);
}

.alertTraillerText {
    color: rgb(255, 160, 3);
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}