<sebm-google-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        (mapClick)="mapClicked($event)">


    <sebm-google-map-marker *ngFor="let m of (alerts) | async; let i = index"
                            (markerClick)="clickedMarker(m.label, i)"
                            [latitude]="m.lat"
                            [longitude]="m.lng"
                            [label]="m.label"
                            [markerDraggable]="m.draggable"
                            (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
            <strong>{{m.name}}  ({{m.id}})</strong>
            <h1>Severidade: {{m.severity}}</h1>
            <h2>Ocorrência: {{m.startDate}}</h2>
            <h2>Endereço: {{m.strAddress}}</h2>
        </sebm-google-map-info-window>

    </sebm-google-map-marker>
    <sebm-google-map-circle [latitude]="lat" [longitude]="lng"
                            [radius]="600"
                            [fillColor]="'red'"
                            [circleDraggable]="false"
                            [editable]="false">
    </sebm-google-map-circle>

</sebm-google-map>
