<md-dialog aria-label="options dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">Processando solicitação</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="assets/icons/navigation/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div layout="row" layout-align="space-around center">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>


